.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 92px 50px 96px;
  place-content: center space-around;
  color: black;
  font-size: 18px;
  font-weight: 400;
}

.header__menu {
  justify-self: start;
  padding-top: 44px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 33px;
}

.header__links-list-item {
  list-style: circle;

}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
}

.header__logo-image {
  display: block;
  height: 105px;
}

.address {
  width: 240px;
  line-height: 24.3px;
  font-style: normal;
  text-decoration: none;
  padding-top: 5px;
  align-self: center;
}

.header__address {
  justify-self: end;
}